/* 
    Created on : 07-oct-2017, 14:03:05
    Author     : macf3rn4nd0
*/
body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}
.none{
    display: none;
}
#resultado{
    text-align: center;
    border: 1px solid #8293ec;
    background: #daecfb;
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
.contenido{
    margin: 0 auto;
    width: 360px;
}
.contenido header{
    text-align: center;
}
table tr th{
    text-align: center;
}
.productos{
    width: 40%;
}
.cantidad{
    text-align: center;
    width: 30%;
}
.crud{
    width: 30%;
}
.iconomas, .iconomenos{
    cursor: pointer;
     border: 1px solid #B5B8C8;
     border-radius: 4px;
     padding-top: 3px;
     padding-bottom: 3px;
     padding-left: 5px;
     padding-right: 5px;
}
.iconomas:hover, .iconomenos:hover{
    background-color: white;
}
table tr .crud{
    text-align: center;
}
.valorCambiar{
    width: 24px;
    text-align: center;
    border: none;
    background: transparent;
}
.inputProductoCSS{
    height: 23px;
}
.inputProductoCSS:focus{
    background: #ffffc9;
}
.iconomas{
    margin-right: 3px;
}
.iconomenos{
    margin-left: 3px;
}
.iconoeditarCSS{
    color: green;
    margin-right: 8px;
    cursor: pointer;
}
.iconoborrarCSS{
    color: red;
    margin-left: 8px;
    cursor: pointer;
}
.iconoGuardarCSS{
    color: #2f71aa;
    margin-right: 8px;
    cursor: pointer;
}
.iconoCancelGuardarCSS{
    color: #d80b57;
    margin-left: 8px;
    cursor: pointer;
}
footer{
    text-align: center;
}
.contenidoformulario{
    margin: 0 auto;
    width: 300px;
}
#formularioEnvio{}
#formularioEnvio a, button{
    margin-top: 15px;text-align: center;
}
.grupobotonera{
    text-align: center;
}
#usuarioErroneo{
    border-radius: 6px;
    margin: 0 auto;
    padding: 12px 20px 16px 20px;
    text-align: justify;
    border: 1px solid #d8b6c7;
    color: #666;
    background-color: #fceaea;
    width: 36%;
    margin-top: 20px;
}
#usuarioOk{
    border-radius: 6px;
    margin: 0 auto;
    padding: 12px 20px 16px 20px;
    text-align: justify;
    border: 1px solid #5cb85c;
    color: #666;
    background-color: #dff0d8;
    width: 36%;
    margin-top: 20px;
}
/**********CONTACTO*******************/
#mensajeError{
    margin-top: 10px;
    border-radius: 6px;
    padding: 3px 0px 4px 0px;
    border: 1px solid #d8b6c7;
    color: #666;
    background-color: #fceaea;
    width: 100%;
}
.imagenLeft{
    float: left;
    margin-top: 6px;
    margin-left: 10px;
}
.textMensajeError{
    margin-left: 15px;
}
.imagenRight{
    float: right;
    margin-top: 4px;
    margin-right: 9px;
    cursor: pointer;
}
#resultadoCero:hover{
    background: #fff;
}
#mensajeOk{
    margin-top: 10px;
    border-radius: 6px;
    padding: 4px 0px 4px 0px;
    border: 1px solid #5cb85c;
    color: #666;
    background-color: #dff0d8;
    width: 100%;    
}
@media only screen and (max-width: 767px) { 
    #imgImagen{
        width: 305px;
    } 
    #imgImagen1{
        width: 305px;
    } 
    #contenedor{
        width: 350px;
    }
    #btnCerrarSession{
        float: left;
        margin-left: 15px;
        margin-top: -10px;   
    }
    #formularioCerrarSession{
        margin-bottom: -29px;
    }
}